

<section class="careers-section">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        {%- assign jobmenu_linklist = block.settings.job_menu -%}
        {%- assign job_location = block.settings.job_location -%}
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-header">
              <h2>{{ block.settings.job_category }}</h2>
            </div>
            <div class="card-body">
              <ul>
                {% for link in linklists[jobmenu_linklist].links %}
                  <li class="mt-3">
                    <a href="{{ link.url }}">{{ link.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}

{
  "name": "Careers",
  "settings": [

  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Job Offer",
      "settings": [
        {
          "type": "text",
          "id": "job_category",
          "label": "Job Category",
          "default": "Job Category"
        },
        {
          "type": "link_list",
          "id": "job_menu",
          "label": "Job Menu"
        }
      ]
    }
  ]
}

{% endschema %}