{%- assign collection = collections[section.settings.collection] -%}
{%- assign bgColor = section.settings.collection_bg_color -%}

<section class="off-sale" style="background-image: url('{{ collection.image | img_url: '1200x' }}');">
  <div class="off-sale__overlay" style="background: {{ bgColor | color_modify: 'alpha', 0.65 }}
                                          ">
    <span class="off-sale__number">{{ section.settings.percent }}%</span>
    <span class="off-sale__title">OFF SALE</span>
    <a class="off-sale__link" href="{{ collection.url }}">VIEW</a>
  </div>
</section>

{% schema %}

{
  "name": "Off Sale",
  "settings": [
		{
			"type":      "collection",
			"id":        "collection",
			"label":     "Collection On Sale",
			"info":      "Choose a collection"
		},{
			"type": "text",
			"id": "percent",
			"default": "50",
			"label": "Percent Value of Sale"
		},{
			"type":      "color",
			"id":        "collection_bg_color",
			"label":     "Background Color",
			"default":   "#000000"
		}
	],
  "presets": [
    {
      "name": "Off Sale",
      "category": "Collection"
    }
  ]
}

{% endschema %}