@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

:root {
  --primary-color: #ffff00;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: rgb(204, 204, 204);
  --body-color: #f4f7fd;
  --jumbo-bg-color: rgba(33, 24, 42, 0.7);
  --collections-overlay-color: rgba(255, 255, 000, 0.5);
  --right-collection-bg-color: #dddfe4;
  --off-sale-overlay-bg-color: rgba(0, 0, 0, 0.7);
  --product-overlay-bg-color: #161616;
  --footer-bg-color: #1b1b1b;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--body-color);
}

/* Header SECTION */
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  padding: 0 10%;
  z-index: 10;

  &__logo a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: var(--white-color);
    text-transform: uppercase;
    display: block;
  }

  .mobile-mode .header__link {
    display: none;
  }

  .mobile-mode .open-menu {
    display: block;
  }

  .open-menu {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--white-color);
    text-align: center;
    padding: 0;
    cursor: pointer;
    display: none;

    i {
      margin-right: -26px;
    }
  }

  &__menu {
    display: flex;
    margin: 0;

    a {
      display: inline-block;
      font-weight: 400;
      text-decoration: none;
      color: var(--white-color);
      text-transform: uppercase;
    }
  }

  &__link {
    padding: 0 20px;
  }

  &__dropdown {
    &:hover .header__sub-menu {
      display: block;
    }
  }

  &__sub-menu {
    &:hover {
      display: block;
    }

    display: none;
    position: absolute;
    transform: translate3d(0, 20px, 0);
    background: var(--white-color);
    min-width: 150px;
    border-radius: 3px;

    a {
      color: var(--black-color);
      display: block;
      padding: 10px;
    }
  }
}

/* Mobile-Menu SECTION */
.mobile-menu {
  background-color: var(--black-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 20px;
  display: none;

  &.active {
    display: block;
  }

  &__logo {
    font-size: 2rem;
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    a {
      color: var(--white-color);
      text-transform: uppercase;
    }
  }

  &__link {
    margin-bottom: 1rem;
    text-align: center;

    & > a {
      color: var(--primary-color);
      font-size: 1.2rem;
      display: block;
      border-bottom: 1px solid var(--white-color);
      margin-bottom: 20px;
      padding-bottom: 10px;
    }
  }

  &__sub-menu {
    a {
      color: var(--white-color);
      font-size: 1rem;
      display: inline-block;
      padding: 10px 7px;
    }
  }

  &__close-menu {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: var(--white-color);
    position: absolute;
    right: 0;
    top: -2px;
    cursor: pointer;
  }
}

/* Jumbo SECTION */
.jumbo {
  background: var(--black-color);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  &__bg-image {
    background: url('/assets/jumbobg.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 1;
    top: 0;
  }

  &__transparent-color {
    background: var(--jumbo-bg-color);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 2;
  }

  &__titles {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  &__title {
    font-size: 8rem;
    color: var(--primary-color);
    font-weight: 900;
    text-transform: uppercase;
    transform: translate3d(100px, 0, 0);

    /* large tablet */
    @media (max-width: 1336px) {
      font-size: 9rem;
      transform: translate3d(80px, 0, 0);
    }

    /* tablet */
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 7rem;
    }

    /* large phones */
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 4rem;
      transform: translate3d(40px, 0, 0);
    }

    /* small phones */
    @media (max-width: 575px) {
      font-size: 12vw;
      transform: translate3d(40px, 0, 0);
    }
  }

  &__subtitle {
    font-size: 7rem;
    color: var(--white-color);
    font-weight: 200;
    text-transform: uppercase;
    transform: translate3d(130px, 0, 0);

    /* large tablet */
    @media (max-width: 1336px) {
      font-size: 6rem;
    }

    /* tablet */
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 4rem;
    }

    /* large phones */
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 3rem;
      transform: translate3d(80px, 0, 0);
    }

    /* small phones */
    @media (max-width: 575px) {
      font-size: 9vw;
      transform: translate3d(70px, 0, 0);
    }
  }

  &__state {
    display: flex;
    align-items: center;
    background: var(--white-color);
    position: absolute;
    height: 15%;
    z-index: 3;
    width: 100%;
    bottom: 0;

    &__number {
      font-size: 5rem;
      transform: translate3d(50px, 0, 0);

      /* large phones */
      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 4rem;
      }

      /* small phones */
      @media (max-width: 575px) {
        font-size: 3rem;
        transform: translate3d(20px, 0, 0);
      }
    }
  }

  &__store-info {
    display: flex;
    position: absolute;
    height: 25%;
    z-index: 3;
    width: 75%;
    bottom: 0;
    right: 0;
    padding-top: 2rem;

    img {
      height: 100%;
      width: 25%;
      object-fit: cover;
      cursor: pointer;
      filter: saturate(15%);
      transition: all 0.4s ease-in-out;
      margin-left: 0.5rem;

      &:hover {
        filter: saturate(60%);
      }
    }
  }
}

/* Collections SECTION */
.collections {
  margin: 2.5rem 0;
  overflow: hidden;

  &__left-collection {
    position: relative;

    &__collection-title {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      font-size: 3.5rem;
      font-weight: 700;
      text-transform: uppercase;

      /* tablet */
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 2.5rem;
      }

      /* small phones */
      @media (max-width: 575px) {
        font-size: 12vw;
      }

      span {
        line-height: 1;
        transform: translate3d(-35px, 50px, 0);
      }
    }
  }

  &__left-collection-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__overlay {
    position: absolute;
    background: var(--collections-overlay-color);
    height: 100%;
    width: 100%;
  }

  &__left-collection-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

  &__right-collection {
    &__bg {
      height: 500px;
      background-color: var(--right-collection-bg-color);

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__img-wrapper {
      width: 300px;
      height: 300px;

      /* small phones */
      @media (max-width: 325px) {
        width: 270px;
        height: 270px;
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__collection-title {
      span {
        font-size: 3.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--white-color);
        transform: translate3d(-68px, -100px, 0);
        display: block;

        /* tablet */
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 2.5rem;
          transform: translate3d(-20px, -100px, 0);
        }

        /* small phones */
        @media (max-width: 575px) {
          font-size: 11vw;
          transform: translate3d(-20px, -100px, 0);
        }
      }
    }
  }
}

/* Off-sale SECTION */

.off-sale {
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__overlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
    background: var(--off-sale-overlay-bg-color);
  }

  &__number {
    color: var(--white-color);
    font-size: 12rem;
    font-weight: 700;

    /* tablet */
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 9.5rem;
    }

    /* small phones */
    @media (max-width: 575px) {
      font-size: 30vw;
    }
  }

  &__title {
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 15px;
    margin-bottom: 1.5rem;

    /* small phones */
    @media (max-width: 575px) {
      font-size: 12vw;
    }
  }

  &__link {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 15px;
    padding: 16px 60px;
    border: 2px solid var(--white-color);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    /* small phones */
    @media (max-width: 575px) {
      font-size: 1rem;
      letter-spacing: 13px;
      padding: 13px 55px;
    }

    &:hover {
      background-color: var(--primary-color);
      color: var(--black-color);
    }
  }
}

/* Products SECTION */
.products {
  padding: 4rem 0 2.5rem 0;
  overflow: hidden;

  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 700;
  }

  .product {
    margin-bottom: 1.5rem;
    &__bg {
      position: relative;
      background: var(--white-color);
      min-height: 300px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
    }

    &__img {
      width: 100%;
      object-fit: cover;
    }

    &__overlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding: 0 1rem;
      color: var(--primary-color);
      background: var(--product-overlay-bg-color);
      transition: all 0.2s ease-in-out;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }

    &__title {
      text-align: center;
      font-weight: 600;
      font-size: 1.2rem;
    }

    &__price {
      text-align: center;
      font-weight: 600;
    }
  }
}

/* Footer SECTION */
.footer {
  background: var(--footer-bg-color);
  padding: 5rem 0;
  overflow: hidden;

  &__menu a {
    color: var(--white-color);
  }

  &__menu-title,
  &__social-title {
    color: var(--primary-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    display: block;
  }

  &__social-icons {
    display: flex;

    li {
      margin-right: 20px;

      /* tablet */
      @media (min-width: 768px) and (max-width: 991px) {
        margin-right: 14px;
      }

      /* small phones */
      @media (max-width: 575px) {
        margin-right: 10px;
      }
    }

    a {
      font-size: 1.2rem;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--white-color);
      color: var(--black-color);
      border-radius: 50%;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      /* tablet */
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 1rem;
        height: 40px;
        width: 40px;
      }

      /* small phones */
      @media (max-width: 575px) {
        font-size: 1rem;
        height: 40px;
        width: 40px;
      }

      &:hover {
        color: var(--black-color);
        background-color: var(--primary-color);
      }
    }
  }

  &__address {
    color: var(--grey-color);
    text-align: center;
    display: block;

    /* small phones */
    @media (max-width: 575px) {
      text-align: left;
    }
  }
}

// /* tablet */
// @media (min-width: 768px) and (max-width: 991px) {
//   body {
//     background-color: red;
//   }
// }

// /* large phones */
// @media (min-width: 576px) and (max-width: 767px) {
//   body {
//     background-color: yellow;
//   }
// }

// /* small phones */
// @media (max-width: 575px) {
//   body {
//     background-color: orangered;
//   }
// }
